@import "Variables.scss";
.navbar-wrapper {
  padding: 15px 40px 15px 40px;
}
.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 40px;
  fill: $btn-color;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;

  a {
    text-decoration: none;
    color: $btn-color;
  }
}
.shop-list {
  width: 13vw;
}
.about-list {
  width: 18.5vw;
}
.btn {
  padding: 15px;
  background-color: $btn-color;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: $btn-hover-color;
    color: $btn-color;
  }
}
